.img-left{
    width: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
    /* border: 0.3rem solid white; */
}

.div-img{
    height: 1rem;
}

.empleo.activo {
    background-color: #dde1e6;
    border-left: 4px solid grey;
}