body {
    background-color: #38434f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-container {
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.btn-primary {
  width: 100%;
}