body{
    background-color: #f4f2ee;
    
}

.img-contenedor-mired{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-contenedor-mired-left{
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
}


.btn-sombreado{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 50%;
    background-color: rgba(37, 32, 32, 0.8);
}.btn-sombreado:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); 
    background-color: rgba(0, 0, 0, 0.8);
}

.text-small{
    font-size: 75%;
    ;
}   

.seguir-cover-photo{
    height: 100px;
}

.modal {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-contenido {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  