body{
    background-color: #f4f2ee;
}
.profile-photo{
    width: 100%;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background-color: #fff;
}

.profile-photo h1{
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.profile-page-container{
    padding: 10px 60px;
    display: inline-flex;
}

.main-container{
    width: 800px;
    background-color: white;
    margin-left: 210px;
    margin-top:10px;
    border-radius: 10px;
    border:1px solid #e1e1e1;
    position: relative;
    
}

.background-container{
    width:100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}


.img-profile-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -75px;
    margin-left: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-photo{
    border: 5px white solid;
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

#background-photo{
    position: absolute;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.file{
    display: none;
}



#upload-bck-btn , #upload-pp-btn{
    height: 40px;
    width: 40px;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    background-color: #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-pp-btn{
    transform: translateX(90%);
    margin-top: 10px;
    margin-left: 65px;
}

#upload-bck-btn{
    margin-top: -130px;
    margin-left: 700px;
    z-index: 10;
}


.button-img-container{
    margin-top:-60px;
    margin-left: 130px;
}

.text-profile-container{
    margin-left: 20px;
    margin-top: 40px;
}

.name-title{
    font-size: 1.5em;
    font-weight: 600;
    color:black;
}

.location-container{
    margin-right: 10px;
    color:#7d7d7d;
}

.location-contact-container{
    display: flex;
    margin: 10px 0px;
    font-size: 0.8em;
}

.contact-container{
    text-decoration: none;
    font-weight: 600;
}


.subtitle-container h2{
    font-size: 1.3em;
    font-weight: 600;
    color: black;
    display: flexbox;
}

.sub-container{
    padding: 15px;
}

.container-header-items {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.buttons-container {
    display: flex; 
}


.btn-style{
    background-color: transparent;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}


.side-container{
    margin-left: 25px;
}

.side-info-container{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    border:1px solid #e1e1e1;
    padding: 5px;
}

.side-info-sub-container{
    margin: 5px;
}

.side-info-sub-container h4{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0px;
}

.side-info-sub-container span{
    color: #7d7d7d;
    font-size: 0.9em;
}

.title-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-whos-hiring img{
    margin-top: 15px;
    border: 1px solid #cdcdc2;
    border-radius: 10px;
    width: 300px;
}

.edit-info-container{
    position: absolute;
    bottom: 140px;
    left: 739px;
}

.modal-body{
    padding: 10px 20px;
}

.title-presentation{
    font-size: 1.2em;
    font-weight: 600;
    color:#222
}

.info-input-info{
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
    border: solid 1px gray;
    font-size: 0.9em;
}

.info-input-info__textarea{
    border: 1px solid gray;
}

.info-input-info-label{
    font-size: 0.9em;
    color: #505050;
}

.adding-info-anchor{
    text-decoration: none;
    font-weight: 600;
}

.link-description{
    font-size: 0.9em;
}

.plus-svg{
    font-size: 1.5em;
}

.modal-btn-style{
    background-color: #005dc1;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 20px;
    font-weight: 600;
}

.subtitle-presentation{
    font-size: 1.2em;
    color:black;
}


.button-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.edit-info-container {
    position: absolute;
    top: 200px;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
}

.school-name,.cargo a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.degree,.empresa{
    font-size: 16px;
}

.time{
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}