.icono-grey {
    color: grey;
  }
  .icono-golden{
      color: #EABE3F;
  }

.nowrap{
    white-space: nowrap;
}
  
.hover-black:hover,
.hover-black:hover .icono-grey,
.hover-black:hover .text-muted {
    color: black !important;
}

.list-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-item:hover {
    background-color: #eeeeee;
}
