.icono-grey {
    color: grey;
  }
  .icono-golden{
      color: #EABE3F;
  }

.nowrap{
    white-space: nowrap;
}
  
.hover-black:hover,
.hover-black:hover .icono-grey,
.hover-black:hover .text-muted {
    color: black !important;
}

.general-border-style{
    border-style:solid;
    border-width: 1px;
    border-color: #e8e8e8;
    border-radius: 5px;
}

.message-module-border{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e8e8e8;
}
.list-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-item:hover {
    background-color: #eeeeee;
}

